.custom-checkbox-wrap {
    transition: all 0.3s ease;
    padding: 10px 20px;
    cursor: pointer;
}

.custom-checkbox-wrap:hover {
    background-color: #F1FCFF;
}

.custom-checkbox-wrap .custom-control {
    padding-left: 33px;
    display: flex;
    align-items: center;
}

.custom-checkbox-wrap .custom-control label {
    font-size: 13px;
    line-height: 20px;
    cursor: pointer;
}

.custom-checkbox-wrap .custom-control-label::before {
    left: -2rem;
    cursor: pointer;
    top: 0;
}

.custom-checkbox-wrap .custom-control-label::after {
    left: -2rem;
    cursor: pointer;
    top: 0;
}

.custom-checkbox-wrap .custom-checkbox .custom-control-label::before {
    border: 1px solid #9ABBCE;
    border-radius: 2px;
    width: 20px;
    height: 20px;
}

.custom-checkbox-wrap .custom-control-input:checked~.custom-control-label::before {
    color: #2196F3;
    border-color: #2196F3;
    background-color: #ffffff;
}

.custom-checkbox-wrap .custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url('../Shape.svg');
    width: 20px;
    height: 20px;
}